<h1>Journals show</h1>
<h3><%= @journal.title %></h3>
<h1>Category: <%= @journal.category.name %></h1>
<p><%= @journal.content %></p>


<%= link_to "Edit", edit_journal_path(@journal.id) %>
<%= link_to "Delete", journal_path(@journal.id), method: :delete %>
<%= link_to "Back", journals_path %>